{
  "plugins": ["prettier-plugin-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^react$",
    "",
    "^next",
    "",
    "lucide-react",
    "^(@pics|@icons)(.*)$",
    "",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ]
}
